<%- include('./partials/header.ejs')%>
    <main>
        <section>
            <article>
                <h2>About Space Exploration Wiki</h2>
                <p>The Space Exploration Wiki is a comprehensive online resource dedicated to sharing knowledge about
                    the
                    history, technology, missions, and future prospects of human and robotic space exploration. Our
                    mission
                    is to provide an accessible, accurate, and up-to-date repository of space exploration information
                    that
                    inspires, educates, and engages enthusiasts, students, and professionals worldwide.</p>

                <h3>Our Mission</h3>
                <p>Our mission is to ignite curiosity and foster educational pursuits in the field of space exploration.
                    We
                    aim to serve as a bridge between the general public and the scientific community, making the
                    vastness of
                    space exploration understandable and accessible to everyone. By consolidating information on past
                    achievements, current endeavors, and future plans, we hope to encourage a deeper appreciation for
                    the
                    complexities and achievements of space exploration.</p>

                <h3>Who We Are</h3>
                <p>The Space Exploration Wiki is curated by a team of space enthusiasts, students, and amateur
                    astronomers
                    passionate about space science and exploration. Our team collaborates with experts from around the
                    globe
                    to ensure that the information provided is accurate, comprehensive, and reflective of the latest
                    scientific understanding.</p>

                <h3>Contribute</h3>
                <p>We believe in the power of community and the collective pursuit of knowledge. The Space Exploration
                    Wiki
                    welcomes contributions from anyone passionate about space and willing to share their knowledge.
                    Whether
                    you're a professional in the field, a student, or simply someone with a keen interest in space
                    exploration, your insights and contributions are valuable to us. Visit our <a
                        href="contact.html">Contact</a> page to learn how you can contribute.</p>

                <h3>Contact Us</h3>
                <p>For more information, inquiries, or suggestions, please don't hesitate to <a
                        href="contact.html">contact
                        us</a>. We are always looking to improve the Space Exploration Wiki and expand our community.
                </p>
            </article>
        </section>
    </main>
    <%- include('./partials/footer.ejs')%>
        </body>

        </html>