<%- include('views/partials/header.ejs')%>
    <main>
        <section class="introduction">
            <h1>Welcome to the Space Exploration Wiki</h1>
            <p>Discover the wonders of space exploration, from the earliest missions to the latest technologies
                propelling us into the future. Dive into our comprehensive guide to understand more about our
                universe.</p>
        </section>
        <section class="featured-topics">
            <h2>Explore Our Topics</h2>
            <div class="topics-grid">
                <article>
                    <h3>Missions</h3>
                    <p>An overview of key space missions that have expanded our horizons.</p>
                    <a href="missions.html">Learn more</a>
                </article>
                <article>
                    <h3>Spacecraft</h3>
                    <p>Insight into the technology behind the machines that traverse the cosmos.</p>
                    <a href="spacecraft.html">Learn more</a>
                </article>
                <article>
                    <h3>History</h3>
                    <p>A timeline of space exploration milestones that have defined our journey to the stars.</p>
                    <a href="history.html">Learn more</a>
                </article>
                <article>
                    <h3>Future</h3>
                    <p>Emerging technologies and missions that will shape the next era of space exploration.</p>
                    <a href="future.html">Learn more</a>
                </article>
            </div>
        </section>
        <section class="latest-news">
            <h2>Latest News</h2>
            <div class="news-articles">
                <article>
                    <h3>Heading for New Horizons</h3>
                    <p>The latest mission aims to explore the uncharted regions of our solar system.</p>
                    <a href="#">Read more</a>
                </article>
                <!-- Additional news articles -->
            </div>
        </section>
    </main>
    <%- include('views/partials/footer.ejs')%>

        </body>

        </html>